<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<title>Create Form</title>
</head>
<body>
    
    <br>
    <br>
    <center><h2>Create Form</h2></center>
    <center><h2><a href="{% url 'viewdata' %}">Wanna View</a></h2></center>
    <br>
    <br>

    <div class="d-flex justify-content-center">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <!-- <label for="">Firstname</label> -->
                <input 
                    type="text"
                    placeholder="Firstname"
                    class="form-control"
                    name="firstname"
                    >
            </div>
            <div class="form-group">
                <!-- <label for="">Firstname</label> -->
                <input 
                    type="text"
                    placeholder="Lastname"
                    class="form-control"
                    name="lastname"
                    >
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Create">
            </div>
        </form>
    </div>
    <h1>{{msg}}</h1>

<all>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</all>
</body>
</html>

