<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>

<title>Single Data</title>
</head>
<body>


<center><h1>This is the Single Data Page</h1></center>
<br>
<br>
<br>
<center><h2>ID: {{data.id}}</h2></center>
<center><h2>Firstname: {{data.firstname}}</h2></center>
<center><h2>Lastname: {{data.lastname}}</h2></center>
<center><h2>Human Race: {{data.humanrace}}</h2></center>


</body>
</html>